.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
}

.site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
  color: #e6a756 !important;
}

.site-heading-lower {
  font-size: 5rem;
  font-weight: 300;
  line-height: 4rem;
  color: #f6e1c5
}

.nav-link {
  color: white !important ;
  font-size: 20px !important ;
  font-weight: bold !important ;
}

.login-logout {
  background-color: black; 
  border-radius: 2px;
}