.container {
  background-color: #f6e1c5;
  margin-top: 30px;
  border-radius: 10px;
}

.listActions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.action {
  background-color: rgba(72, 19, 12, 0.503);
  border: 10px solid #c5c5c5;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 #171717;
  border-color: rgba(223,225,229,0);
  margin: 20px 10px;
}

.actionImg {
  border-radius: 5px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.imgAction {
  width: 150px;
  height: 170px;  
  border-radius: 5px;
}

.actionTitle{
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  padding: 2px;
}

.actionEnter {
  display: flex;
  justify-content: center;
}
.btnAction {
  background-color: white;
  font-weight: bold;
}

.btnAction:hover {
  background-color: lightgrey;
}

@media screen and (max-width: 775px) {
  .container {
    min-width: 230px;
  }
  .listActions {
    flex-direction: column;
    align-items: center;
  }

  .action {
    max-width: 180px;
    min-width: 180px;
  }
}