<app-header></app-header>
<div class="container">
  <div class="row py-3 d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="pt-4">Contato</h1>
    <div class="contactText">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci cupiditate tempore suscipit quasi ex,
        eligendi
        esse assumenda quod totam eaque nulla hic blanditiis natus officiis vel beatae? Est, maiores illo.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci cupiditate tempore suscipit quasi ex,
        eligendi
        esse assumenda quod totam eaque nulla hic blanditiis natus officiis vel beatae? Est, maiores illo.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>