<h1 mat-dialog-title>Criar Produto</h1>

<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="title" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Slug</mat-label>
      <input matInput formControlName="slug" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="description" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput formControlName="price" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input matInput formControlName="qtd" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Imagem (base64)</mat-label>
      <input matInput formControlName="image" >
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="center">
  <button mat-button (click)="onNoClick()"> NÃO </button>
  <button mat-raised-button color="warn" (click)="onYesClick()"> SIM </button>
</div>