<app-header></app-header>

<div class="container">
  <div class="vitrine">
    <div *ngFor="let prod of produtos" class="produto">
      <div class="produtoImagem">
        <img src={{prod.image}} class="imgProd">
      </div>
      <div class="produtoTitulo">
        <p>{{prod.title}}</p>
      </div>
      <div class="produtoPreço">
        <p>Preço: R$ {{prod.price}}</p>
      </div>
      <div class="produtoQuantidade">
        <p>Qtd disponivel: {{prod.qtd}}</p>
      </div>
      <div class="produtoComprar">
        <button class="btn btnLight" (click)="toKart(prod)" *ngIf="prod.qtd">Comprar</button>
        <button class="btn btnLight" *ngIf="!prod.qtd">Indisponivel</button>
      </div>     
    </div>
  </div>

  <div class="d-flex justify-content-center" *ngIf="!kartIsEmpty">
      <button class="btnPersonalized text-center w-auto py-2 my-3 px-5" [routerLink]="['/store/kart']" routerLinkActive="router-link-active">
        Finalizar Compra
      </button>
    </div>

</div>

<app-footer></app-footer>