<app-header></app-header>

<div class="container">
  <div class="row py-3 d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="pt-4"> Nossa funcionalidade Especial</h1>

    <app-special></app-special>

    <h1 class="pt-4"> Venha conhecer nossos Produtos </h1>
    <p> Temos os melhores cafés do mundo. </p>

    <button class="btnPersonalized text-center w-auto py-2 my-3 px-5" [routerLink]="['/store']" routerLinkActive="router-link-active">
      Comprar
    </button>
  </div>
</div>

<app-footer></app-footer>