<h1 mat-dialog-title>Finalizar Compra</h1>

<div mat-dialog-content>
  <form [formGroup]="finalizeForm">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input type="text" matInput formControlName="name">
      <mat-hint>Nome obrigatorio *</mat-hint>
      <mat-error *ngIf="finalizeForm.controls.name.errors">
        Entre com um nome valido
      </mat-error>
    </mat-form-field>  

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-hint>Email obrigatorio *</mat-hint>
      <mat-error *ngIf="finalizeForm.controls.email.errors">
        Entre com um email valido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cartão de credito</mat-label>
      <input type="text" matInput formControlName="creditCard">
      <mat-hint>Cartão de credito obrigatorio*</mat-hint>
      <mat-error *ngIf="finalizeForm.controls.creditCard.errors">
        Entre com um cartão de credito valido
      </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-center align-items-center">
      <h1>Total: R$ {{total}}</h1>
    </div>
  </form>
</div>

<div mat-dialog-actions class="center">
  <button mat-raised-button color="warn" (click)="onYesClick()"> Concluir </button>
</div>