<h1 mat-dialog-title>Criar Usuario</h1>

<div mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input type="text" matInput formControlName="name">
      <mat-hint>Nome obrigatorio *</mat-hint>
      <mat-error *ngIf="userForm.controls.name.errors">
        Entre com um Nome valido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Endereço</mat-label>
      <input type="text" matInput formControlName="address">
      <mat-hint>Endereço obrigatorio *</mat-hint>
      <mat-error *ngIf="userForm.controls.address.errors">
        Entre com um Endereço valido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input type="text" matInput formControlName="phone">
      <mat-hint>Telefone obrigatorio *</mat-hint>
      <mat-error *ngIf="userForm.controls.phone.errors">
        Entre com um Telefone valido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email">
      <mat-hint>Email obrigatorio *</mat-hint>
      <mat-error *ngIf="userForm.controls.email.errors">
        Entre com um Email valido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" >
      <mat-hint>Senha obrigatorio *</mat-hint>
      <mat-error *ngIf="userForm.controls.password.errors">
        Entre com uma Senha valida
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="center">
  <button mat-button (click)="onNoClick()"> NÃO </button>
  <button mat-raised-button color="warn" (click)="onYesClick()"> SIM </button>
</div>