<app-header></app-header>
<div class="container">
  <div class="row py-3 d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="pt-4">Sobre nós</h1>
    <div class="aboutText">
      <p>Somos uma empresa com foco no processo de cultivo que preze pela qualidade dos frutos de café, nosso objetivo sempre foi explorar e aprofundar a grande cultura do café. </p>
      <p>Todos os grãos vêm de fazenda totalmente orgânicas, e de família, ajudando o comércio das pequenas colheitas. <p>
      <p>Por todo nosso processo podemos chegar ao patamar em que estamos, sendo uma das empresas com maior venda de café no Brasil.</p>
      <p>Nossa visão para o futuro é expandir cada vez mais, levando esse pedaço da terra e esse sabor de qualidade para mais prazer, somos jovens, com nossa primeira fazenda de 2015, nossa loja física de 2017 e nosso site de 2018. </p>
      <p>Porém, podemos garantir a qualidade dos nossos produtos e da gerência da empresa, pois possuímos dois produtores de café com 20 anos de experiência em nosso time de executivos, estes dois sempre de olho na qualidade de cada lote, e analisando o mercado e as tendências do agronegócio. </p> 
      <p>O restante do nosso time consiste de desenvolvedores e estatísticos que vieram conosco desde o início, com o Danilo, um jovem desenvolvedor vindo já de 2015, fazendo a ligação com as novas tecnologias e os conhecimentos do passado.</p>
      
    </div>
  </div>
</div>
<app-footer></app-footer>