/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
* { font-family: 'Lato', sans-serif; }

html, body { height: 100%;}
body { margin: 0; background-image: url('./assets/bg.jpg') !important;  background-repeat: repeat;}
a { text-decoration: none; }

.mat-dialog-title {
  text-align: center;
}

.mat-dialog-actions {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: -24px;
  justify-content: space-around;
}

.btnLight{
  background: #f6e1c5;
  border: solid 1px brown;
}

.btnDark {
  background: linear-gradient(#a46b56, rgb(46, 43, 43));
  color: white;
}

.btnPersonalized {
  text-decoration: none;
  background: #FFFFFF;
  color: #000000;
  box-shadow: 0px 5.16636px 5.16636px rgba(0, 0, 0, 0.35);
  border-radius: 32px;
  font-size: 30px;
  transition-duration: 0.5s;
}

.btnPersonalized:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  color: white;
  background: #2a1b15;
}