/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
* { font-family: 'Lato', sans-serif; }

html, body { height: 100%;}
body { margin: 0; background-image: url('./assets/bg.jpg') !important;  background-repeat: repeat;}
a { text-decoration: none; }

.mat-dialog-title {
  text-align: center;
}

.mat-dialog-actions {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: -24px;
  justify-content: space-around;
}