<app-header-admin [type]="1"></app-header-admin>
<div class="container">
  <div class="row py-3 d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="pt-4">Gerenciar Clientes</h1>
    <div class="contactText">
      <table>
        <thead>
          <tr>
            <th *ngFor="let item of columHead">{{this.item}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource">
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td>
              <mat-icon class="hand" (click)="toEdit(item)">edit</mat-icon>
              <mat-icon class="hand" (click)="toDelete(item._id)">delete</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <button mat-fab color="primary" class="btnPlus" (click)="toCreate()"> -->
      <button mat-fab color="primary" class="btnPlus">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </div>
</div>
<app-footer></app-footer>